body {
    background-color: rgb(67, 67, 67);
    color: rgb(195, 244, 255);
}

h1,h2,h3,h4,h5,h6{ 
    font-family: "thornwood-vf", sans-serif;
    
} 

h1{ 
    font-size: 3rem;
    
} 

p{
    font-family: "area-normal-regular", sans-serif;
}

a{color: inherits;
}